<link rel="stylesheet" href="https://kit.fontawesome.com/d205e31606.css" crossorigin="anonymous">
<style>
body 
{
	font-family: Arial, Helvetica, sans-serif;
}
.navbar 
{
	width: 100%;
	/*background-color: #555;*/
	overflow: auto;
}
.navbar a 
{
	float: left;
	padding: 12px;
	color: #00205c;
	text-decoration: underline;
        text-decoration-color: #8f6900;
        font-weight:bold;
	font-size: 20px;
}
.navbar a:hover 
{
	color: #8f6900;
        transition: color .25s,text-decoration-color .25s;
}
@media screen and (max-width: 500px) 
{
	.navbar a 
	{
		float: none;
		display: block;
	}
}
</style>
